body {
    margin: 3%;
}
.title {
    margin-top: 1%;
    font-size: 25px;
}
.input-text {
    width: 98%;
}
.container {
    height: 100%;
    margin: 3%;
    overflow: auto;
}
.container-border {
    outline: 1px solid grey;
}
.container-border-dotted {
    outline-style: dashed;
    margin: 0.1% !important;
    padding: 1%;
}
.container-border-no-line {
    outline-style: hidden;
}
.container-right {
    width: 40%;
    float: right;
}
.container-left {
    width: 55%;
    float: left;
}
.container-inner {
    margin: 3%;
}
.container-button {
    float: right;
}
.container-sameline {
    display: table-cell;
}
.button-svg {
    background-color: rgba(255,255,255,0);
    border: none;
}
#the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
  }