body {
    margin: 3%;
}
input, textarea {
    width: 98%;
}
h2 {
    margin-top: 1%;
}
.container {
    height: 100%;
    margin: 3%;
    overflow: auto;
}
.container-border {
    outline: 1px solid grey;
}
.container-right {
    width: 40%;
    float: right;
}
.container-left {
    width: 55%;
    float: left;
}
.container-inner {
    margin: 3%;
}